html, body, div {
  margin:0;
  padding:0;
  border:0 none;
  background-color: #293241;
}

#header {
  text-align: center;
  /*background-color: #264653;*/
  color: #FFFFFF;
  font-size: 2.1em;
}

#content {
  text-align: center;
  font-size: 1.3em;
}

#container {
  margin: 0 auto;
}
