html, body {
  margin:0;
  padding:0;
  border:0 none;
  background-color: #293241;
}
#header {
  text-align: center;
  /*background-color: #264653;*/
  color: #FFFFFF;
  font-size: 2.1em;
}

#content {
  width: 90%;
  text-align: center;
  font-size: 1.3em;
  margin: auto;
}

#container {
  margin: 0 auto;
}

.project-details{
  padding: 10px;
  height: 150px;
}



.left {
  background-color: #3D5A80;
  width: 25%;
  box-shadow: 4px 3px 8px 1px #14213D;
  -webkit-box-shadow: 4px 3px 8px 1px #14213D;
}
.left > a {
  color: #FFFFFF;
  text-align: center;
}

.right {
  font-size: .85em;
  width: 75%;
  background-color: #98C1D9;
  text-align: left;
  box-shadow: 4px 3px 8px 1px #14213D;
  -webkit-box-shadow: 4px 3px 8px 1px #14213D;
}

.project{
  display: flex;
  flex-direction: row;
}

.project-link-right {
  width: 90%;
  background-color: #3D5A80;
}
.project-link-right > a {
  color: #FFFFFF;
}

.project-link-left {
  width: 10%;
  height:100%;
  background-color: #E07A5F;
}

.linked {
  display: flex;
  flex-direction: row;
}


